.bg {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(18, 18, 18, 0.65);
}

.dn {
  display: none;
  transition: 0.2s linear;
}

.authent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: -1rem;
}

.auth {
  display: flex;
  background: #fff;
  gap: 1rem;
  border-radius: 20px;
  flex-direction: column;
  top: 10rem;
  /* height: 500px; */
  padding: 50px 0;
  width: 531px;
  align-items: center;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
}

.title>h3 {
  font-size: 25px;
  color: #000;
  font-weight: 700;
}

.authForm {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.phoneNumber {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  border-bottom: 1px solid #888888;
}
.phoneNumber > input {
  width: 100%;
  border-bottom: none !important;
}

.phoneNumber > p {
  font-size: 17px;
  margin-top: 0px;
  color: #000;
}

.authForm input {
  padding: 20px;
  padding-left: 0px;
  border: none;
  border-bottom: 1px solid #888888;
  outline: none;
  font-size: 17px;
}

.forgotPass {
  color: #e4b717;
  font-size: 17px;
  text-align: right;
}

.enter {
  width: 100%;
  padding: 15px 20px;
  background: #e4b717;
  border-radius: 2000px;
  color: #fff !important;
  font-size: 18px;
  margin-top: 1rem;
  text-align: center !important;
  font-weight: 700;
}

.signUp {
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 700;
}

.auth>button {
  font-size: 20px;
  margin-top: 1rem;
}

@media screen and (max-width: 1180px) {
  .authent {
    width: 100%;
    margin-top: auto;
  }
}


@media screen and (max-width: 530px) {
  .authent {
    width: 100%;
    margin-top: auto;
  }

  .auth {
    width: 100%;
  }
}


@media screen and (max-width: 500px) {
  .authent {
    width: 100%;
    margin-top: auto;

  }

  .auth {
    width: 100%;
    height: auto;
  }

  .authForm {
    width: 300px;
  }

  .signUp {
    margin-top: 1rem;
  }
}