.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    margin-top: auto;
}   

.container {
    display: flex;
    justify-content: space-between;
    width: var(--container-width);
}

.container a {
    color: #8A8A8A;
    font-size: 16px;
}

.logo {
    text-transform: uppercase;
    color: #E4B717 !important;
    font-size: 1.2rem !important;
    font-weight: 700;
    width: 250px;
}

.center {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navigation {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.links {
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 1238px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 150px;
    }

    .center {
        display: flex;
        gap: 70px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 50px;
    }

    .center {
        display: flex;
        gap: 70px;
    }
}


@media screen and (max-width: 800px) {
    .container {
        width: fit-content;
        display: flex;
        /* flex-direction: column; */
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .footer {
        padding: 1rem;
    }
    .container {
        flex-wrap: wrap;
    }
    .center {
        flex-direction: column;
        gap: 0.5rem;
        margin: auto;
    }
    .center > ul {
        width: fit-content;
        margin: auto;
    }
}