.header {
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 10px 1px rgba(118, 118, 118, 0.17);
  position: relative;
}

.headerNav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  transition: .5s ease;
  box-shadow: 0px 1px 10px 1px rgba(95, 95, 95, 0.17);
}

.container {
  display: flex;
  align-items: center;
  width: var(--container-width);
  justify-content: space-between;
  padding: 10px 0;
  margin: auto;
}

.search {
  width: 40%;
  border: 1px solid #d9d9d9;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
}

.search input {
  padding: 9px 10px;
  font-size: 17px;
  color: #666565;
  padding-left: 5px !important;
  width: 90%;
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search button {
  height: 22px;
}

.search image {
  padding-right: 10px;
}

.select {
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 0.4rem;
  position: relative;
  color: #e4b717;
}

.selectLanguage {
  position: absolute;
  box-shadow: 0px 1px 10px 1px rgba(92, 92, 92, 0.19);
  display: flex;
  top: 100%;
  margin-top: -1rem;
  background: #fff;
  gap: 5px;
  z-index: 10000000000000;
  border-radius: 10px;
  color: #e4b717;
  padding: 5px;
}

.selectLanguage > div {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  transition: 0.4s;
}

.selectLanguage > div:hover {
  background: #7c7c7c15;
}

.call {
  cursor: pointer;
  align-items: center;
  gap: 10px;
  color: #000;
  font-weight: 700;
  font-size: 17px;
  display: flex;
}

.order {
  cursor: pointer;
  align-items: center;
  display: flex;
}

.image {
  width: 46px;
  height: 46px;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.just {
  transition: 0.4s linear;
}

.animated {
  rotate: -180deg;
  transition: 0.4s;
}

.image > a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.image:last-child {
  display: none;
}

.contraLeft,
.contraRight,
.contra,
.ads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.dn {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -100;
  position: fixed;
  top: 0;
  transition: 0.4s;
  margin: auto 0;
}

.searchModal {
  box-shadow: 0px 5px 10px 1px rgba(118, 118, 118, 0.17);
  z-index: 10000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  opacity: 1;
  transition: 0.4s;
  top: 123px;
  min-height: 100px;
  max-height: fit-content;
  background: #fff;
  width: 1180px;
}

.searchModalbur {
  min-height: fit-content;
  margin-top: 2rem;
  margin-right: -1rem;
  max-height: 200px;
} 
.dnbur {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -100;
  transition: 0.4s;
  margin: auto 0;
}

.wrapper {
  overflow-y: scroll;
  gap: 1rem;
  padding: 10px 0;
  min-height: 120px;
  max-height: 200px;
}

.leftSide > img {
  width: 120px;
  height: auto;
}
.rightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product {
  display: flex;
  gap: 3rem;
  margin-bottom: 0.3rem;
  height: 60px;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  align-items: center;
  padding: 0 10px;
}
.product:first-child {
  margin-top: -10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .ads {
    margin-left: 0px;
  }
  .call {
    display: none;
  }
  .searchModal {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .ads {
    margin-left: 0;
  }
  .container {
    padding-left: 1%;
    padding-right: 1%;
  }
  .contraRight > a {
    display: none;
  }

  .contraLeft > select {
    display: none;
  }
  .search {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .contraLeft .select {
    display: none;
  }
  .contraRight {
    display: none;
  }
  .search {
    display: none;
  }
  .image:last-child {
    display: block;
  }
  .searchModal {
    display: none;
  }
}

@media screen and (max-width: 512px) {
  .image:last-child {
    display: flex;
  }
  .image {
    display: none;
  }
}
