.success {
    position: fixed;
    top: 0;
    margin-top: 1rem;
    left: 100%;
    transition: 0.4s linear;
    margin-left: -150px;
    width: 100%;
    z-index: 1000000000 !important;
    height: 100%;
}

.dn {
    opacity: 0;
    transition: 0.2s ease-in-out;
    top: 0;
    left: 100%;
    margin-left: -300px;
    position: fixed;
}

.container {
    width: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(255, 208, 0);
}

.container > p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}